<!--
즐겨찾기 목록 페이지
사용자가 저장한 즐겨찾기 목록을 보여주는 페이지입니다.

mainpage와 같은 ui

bookmark
{
  "_id": ObjectId,
  "user_id": ObjectId,
  "post_id": ObjectId,
  "created_at": ISODate
}
-->

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>즐겨찾기 목록</title>
  </head>
<body>
    <div class="container">
        <h1>즐겨찾기 목록</h1>
</div>
</body>        
</html>