<!--
게시물을 수정하는 페이지입니다.
게시물 제목, 내용을 받습니다. 제목은 필수 입력 사항
게시물 내용은 필수 입력 사항이 아닙니다.
게시물 제목은 100자 이내로 입력해야 합니다.
edit_post에서 등록하면 detail로 이동하여 수정정된 글을 보여 줍니다.

post
{
  "_id": ObjectId,
  "title": "게시물 제목",
  "user_id": ObjectId,  // 작성자
  "content": "글 내용",
  "address": “영문로 55
}
-->
<!Doctype html>
<html lang="ko">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>

  <!-- 구글폰트 -->
  <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>괴식쟁이들 수정 페이지</title>
  
</head>

<body>
  <div class="container">
    <div class="title">괴식쟁이들</div>

    <!-- Flash 메시지 출력 -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flash-message">
          {% for msg in messages %}
            <div class="alert alert-info">{{ msg }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for('edit_post', id=post._id) }}" enctype="multipart/form-data">
      <div class="form-group">
        <label class="form-label" for="title">식당 이름</label>
        <input class="form-input" type="text" id="title" name="title" value="{{ post.title }}" autocomplete="off" placeholder="식당 이름을 입력해 주세요.">
      </div>
      <div class="form-group">
        <label class="form-label" for="content">Comment</label>
        <textarea class="form-textarea" id="content" name="content" placeholder="내용을 입력해 주세요.">{{ post.content }}</textarea>
      </div>
      <div class="form-group">
        <label class="form-label" for="address">식당 위치</label>
        <div class="address-group">
          <input class="address-input form-textarea" type="text" id="address" name="address" value="{{ post.address }}" autocomplete="off" placeholder="주소를 입력해 주세요.">
        </div>
      </div>
      <div>
        <input type="file" name="image">
      </div>
      <button type="submit" class="btn btn-primary save-btn">수정</button>
    </form>
  </div>
</body>

</html>